<div class="container" tabindex="0">
  <div class="row">
    <div class="col-md-12">
    <div class="bs-example">
      <table class="table table-bordered">
       <tbody>
        <tr  ng-repeat="item in cantoes">
            <td class="canto">
               <pre class="canto2"> {{item.text | split  }} </pre>
            </td>
           <td class="linenumber">
               <p class="linenumber"> {{item.line}}</p> 
            </td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
    </div>
</div>

