<div class="container">
    <div class="row">
    <div class="col-md-3 col-sm-12">
<form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="query: start, end" ng-model="myQuery">
      </div>      
    </div>
  </form>
   </div>
    <div class="col-md-9 col-sm-12">
  <div ng-repeat="linex in cantoes | myCantoFilter: myQuery  track by $index ">
      <div class="row" ng-if='linex.visible'>
        <div class="col-2">
            <p class="line">{{linex.name}}:{{linex.line}} </p>
        </div>
        <div class="col-10">
           <div class="block">
            <p class="canto" ng-bind-html='linex.text'></p>
           </div>
        </div>    
      </div>
  </div>


     </div>
    </div>
</div>


